<a href="https://colab.research.google.com/github/IvanRiosFabio/Pandas/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [6]:
Data = '/content/sales_predictions.csv'
df = pd.read_csv(Data)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [9]:
print('La Cantidad Es:',df.shape[0])

La Cantidad Es: 8523

In [10]:
print('Cantidad de columnas :', df.shape[1])

Cantidad de columnas : 12

In [7]:
#Variables duplicadas
df.duplicated().sum()

0

In [8]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
#Decidí utilizar el método de sustitución creando una nueva categoría. 
#Debido a que si eliminaba los datos perdía 1463 y 2410 respectivamente. 
#puede ser que en el aprtado de Item_Weight sea un valor de no aplica. 
#igualmente con la variable del tamaño.

In [11]:
df['Item_Weight'].fillna('0', inplace=True)

In [12]:
df['Outlet_Size'].fillna('does not apply', inplace=True)

In [13]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [26]:
# Revision de datos
#df['Item_Identifier'].value_counts()
#df['Item_Weight'].value_counts()
df['Item_Fat_Content'].value_counts()
#df['Item_Type'].value_counts()
#df['Item_MRP'].value_counts()
#df['Outlet_Identifier'].value_counts()
#df['Outlet_Establishment_Year'].value_counts()
#df['Outlet_Size'].value_counts()
#df['Outlet_Location_Type'].value_counts()
#df['Outlet_Type'].value_counts()
#df['Item_Outlet_Sales'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [27]:
df['Item_Fat_Content']= df['Item_Fat_Content'].replace('LF','Low Fat')
df['Item_Fat_Content']= df['Item_Fat_Content'].replace('low fat','Low Fat')
df['Item_Fat_Content']= df['Item_Fat_Content'].replace('reg','Regular')

In [28]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [39]:
df['Item_Weight']= df['Item_Weight'].astype(int)

In [42]:
df['Item_Weight'].min()

0

In [43]:
df['Item_Weight'].max()

21

In [44]:
df['Item_Weight'].mean()

10.270327349524814

In [45]:
df['Item_Visibility'].min()

0.0

In [46]:
df['Item_Visibility'].max()

0.328390948

In [47]:
df['Item_Visibility'].mean()

0.06613202877895108

In [48]:
df['Item_MRP'].min()

31.29

In [49]:
df['Item_MRP'].max()

266.8884

In [50]:
df['Item_MRP'].mean()

140.9927819781767

In [51]:
df['Item_Outlet_Sales'].min()

33.29

In [52]:
df['Item_Outlet_Sales'].max()

13086.9648

In [53]:
df['Item_Outlet_Sales'].mean()

2181.288913575032